# <center>Práctica 3<center>

Objetivo:
El objetivo de esta práctica es familiarizarte con los diferentes tipos de datos en Python y cómo trabajar con ellos.

## 1- Escribe una breve descripción de los Tipos de Objetos y Estructuras de Datos que se muestran a continuación: 

* #### Number 

* #### String

* #### List

* #### Set

* #### Tuple

* #### Dictionarie

Puedes editar la celda haciendo doble clic sobre ella.

## 2- Cúal es la diferencia entre List, Tuple y Set?

# La unica diferencia entre ella es que las tuplas son inmutables, mientras que en las listas no. En el caso de los sets en estos no podemos modificar un elemento a traves de su indice#

## 3- Crea una lista que contenga números enteros y flotantes e imprimela

In [22]:
Num = [100, 25, 5, 11.3137, 10.75]
print(Num)

[100, 25, 5, 11.3137, 10.75]

## 4- Crea una tupla que contenga algunos Strings e imprimela

In [25]:
tuple = ('manzana', 'banana', 'gato', 'durazno', 'perro')

print(tuple)

('manzana', 'banana', 'gato', 'durazno', 'perro')

## 5- Crea un diccionario que tenga como claves algunas de las cadenas de la tupla creada antes y como valores algunos de los números de la lista creada antes e imprime

In [26]:
Diccionario = {
    
    tuple[0] : Num [0],
    tuple[1] : Num [1] ,
    tuple[2] : Num [2] ,
    tuple[3] : Num [3] ,
    tuple[4] : Num [4] 
}
print (Diccionario)

{'manzana': 100, 'banana': 25, 'gato': 5, 'durazno': 11.3137, 'perro': 10.75}

## 6- Escribe una ecuación de como resultado 150,75 utilizando la multiplicación, la división, la potencia, la raíz cuadrada, la suma y la resta

In [21]:
import math

resultado = ((20 * 5) + (60 / 2)) - math.sqrt(25) + (2 ** 3.5) + 14.44
resultado

150.75370849898476

## 7- Añade un número al listado creado en el punto 3

In [27]:
Num.append(50)

print(Num)

[100, 25, 5, 11.3137, 10.75, 50]

## 8- Convierte el listado anterior en un set e imprimelo

In [28]:
setNum = set(Num)

print(setNum)

{100, 5, 10.75, 11.3137, 50, 25}

## 9- Utiliza los index y las llaves para acceder e imprimir "hola" del siguiente diccionario:

In [30]:
d = {'c1':[4,1,{'c2':['es otro listado',{'0':[3,1,['hola']]}]}]}

valor = d['c1'] [2] ['c2'] [1] ['0'] [2] [0]

print(valor)

hola

## 10- Basado en el diccionario anterior, que resultado arroja la siguiente expresión?
d['c1'][0] > d['c1'][2]['c2'][1]['0'][0]

In [31]:
d['c1'][0] # Esto es 4
d['c1'] [2] 
d['c1'][2]['c2']
d['c1'][2]['c2'][1] 
d['c1'][2]['c2'][1]['0']
d['c1'][2]['c2'][1]['0'][0] # Esto es 3 

4 > 3

True